# Dependencies
libgp/*
gsl-2.4/*
eigen3/*
catch.hpp
ihs.cpp
ihs.hpp

# Experiment files
logs/*
output.csv
transfer.csv

# Report files
report/*
!report/report.tex
!report/report.bib

# Other files
ego
*.swp
*.o
